/*Body*/
body {
    background: url("../images/harry-potter-car.jpg") no-repeat center center fixed;
    background-size: cover;
    }
  
/*Fonts*/
h1, h2, h3, h4, h5, h6, p, b, li, span {
    font-family: serif;
  }
  
p {
    font-size: 1.2rem;
  }
  
.btn {
    font-family: serif!important;
    font-size: 1.2rem!important;
  }

/*Container positions*/
.container {
    transform: translateY(15vh);
  }

/*Input*/
input {
    margin-bottom: 10px!important;
  }

/*Button hover effect*/
button:hover {
    cursor: url('../images/magic.svg'), pointer!important;
  }

/*Sound and instruction icon hover effect*/
.increase:hover {
    font-size: 1.2rem;
    cursor: pointer;
  }

/*Hide elements*/
.hide {
    display: none;
  }

/*Difficulty button description - Code used from the Love Maths project*/
.difficulty-btn:hover {
    transform:scale(1.1);
  }
  
.difficulty-btn::after {
    content: attr(data-type);
    font-size: 1rem;
    text-transform: uppercase;
  }

/*Image dimensions in end section*/ 
.img-fluid {
    height: 100%!important;
  }
  
#score-image {
    max-height: 350px;
  }

/*Footer*/
footer {
    position: absolute;
    bottom: 0;
  }